.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    
    padding-bottom: 30px;
    }


.banner img{
    display: flex;
    width: 696px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content{

    text-wrap: wrap;
    font-size: medium;
}

.category img{
    width: 50px;
    display: inline-block;
    border-radius: 25px;
    background: lightpink;
    margin: 26px;
}